In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Times_of_India_Healines_since_jan_2020_score.csv")
df.head(10)

,index,Unnamed: 0,S_No,URL,Date,Headline,Headline Link,Positive,Negative,Neutral,Compound
0,0,0,0,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,Shivin Narang injures his hand on the set of h...,http://timesofindia.indiatimes.com//tv/news/hi...,24.2,0.0,75.8,49.39
1,1,1,1,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,Allergy cases on the rise in Bengaluru,http://timesofindia.indiatimes.com//life-style...,0.0,0.0,100.0,0.00
2,2,2,2,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,A grand Hanukkah celebration held in the city,http://timesofindia.indiatimes.com//city/benga...,33.3,0.0,66.7,45.88
3,3,3,3,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,"I respect my competitors, because they bring o...",http://timesofindia.indiatimes.com//entertainm...,42.2,0.0,57.8,80.74
4,4,4,4,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,Strong New Year resolutions keep young minds m...,http://timesofindia.indiatimes.com//life-style...,51.2,0.0,48.8,74.30
5,5,5,5,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,Bhuvann Ponnannaa gets a surprise birthday poo...,http://timesofindia.indiatimes.com//entertainm...,49.0,0.0,51.0,58.59
6,6,6,6,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,A grand Hanukkah celebration held in the city,http://timesofindia.indiatimes.com//entertainm...,33.3,0.0,66.7,45.88
7,7,7,7,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,Hiphop Adhi sings a lively kuthu song,http://timesofindia.indiatimes.com//entertainm...,36.7,0.0,63.3,44.04
8,8,8,8,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,"Music helped me find my purpose in life, says ...",http://timesofindia.indiatimes.com//entertainm...,0.0,0.0,100.0,0.00
9,9,9,9,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,Bhuvann Ponnannaa gets a surprise birthday poo...,http://timesofindia.indiatimes.com//city/benga...,49.0,0.0,51.0,58.59

In [3]:
df.columns

Index(['index', 'Unnamed: 0', 'S_No', 'URL', 'Date', 'Headline',
       'Headline Link', 'Positive', 'Negative', 'Neutral', 'Compound'],
      dtype='object')

In [4]:
df.drop(["index" , "Unnamed: 0" , "S_No"], inplace=True , axis=1)

In [5]:
df.head(10)

,URL,Date,Headline,Headline Link,Positive,Negative,Neutral,Compound
0,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,Shivin Narang injures his hand on the set of h...,http://timesofindia.indiatimes.com//tv/news/hi...,24.2,0.0,75.8,49.39
1,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,Allergy cases on the rise in Bengaluru,http://timesofindia.indiatimes.com//life-style...,0.0,0.0,100.0,0.00
2,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,A grand Hanukkah celebration held in the city,http://timesofindia.indiatimes.com//city/benga...,33.3,0.0,66.7,45.88
3,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,"I respect my competitors, because they bring o...",http://timesofindia.indiatimes.com//entertainm...,42.2,0.0,57.8,80.74
4,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,Strong New Year resolutions keep young minds m...,http://timesofindia.indiatimes.com//life-style...,51.2,0.0,48.8,74.30
5,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,Bhuvann Ponnannaa gets a surprise birthday poo...,http://timesofindia.indiatimes.com//entertainm...,49.0,0.0,51.0,58.59
6,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,A grand Hanukkah celebration held in the city,http://timesofindia.indiatimes.com//entertainm...,33.3,0.0,66.7,45.88
7,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,Hiphop Adhi sings a lively kuthu song,http://timesofindia.indiatimes.com//entertainm...,36.7,0.0,63.3,44.04
8,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,"Music helped me find my purpose in life, says ...",http://timesofindia.indiatimes.com//entertainm...,0.0,0.0,100.0,0.00
9,https://timesofindia.indiatimes.com/2020/1/1/a...,2020-01-01 00:00:00,Bhuvann Ponnannaa gets a surprise birthday poo...,http://timesofindia.indiatimes.com//city/benga...,49.0,0.0,51.0,58.59

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50012 entries, 0 to 50011
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   URL            50012 non-null  object
 1   Date           50012 non-null  object
 2   Headline       50012 non-null  object
 3   Headline Link  17971 non-null  object
 4   Positive       50012 non-null  float64
 5   Negative       50012 non-null  float64
 6   Neutral        50012 non-null  float64
 7   Compound       50012 non-null  float64
dtypes: float64(4), object(4)
memory usage: 3.1+ MB

In [7]:
df.drop(["Headline Link"] , inplace=True , axis=1)

In [8]:
df.drop(["URL"] , inplace=True , axis=1)

In [9]:
df.head(10)

,Date,Headline,Positive,Negative,Neutral,Compound
0,2020-01-01 00:00:00,Shivin Narang injures his hand on the set of h...,24.2,0.0,75.8,49.39
1,2020-01-01 00:00:00,Allergy cases on the rise in Bengaluru,0.0,0.0,100.0,0.00
2,2020-01-01 00:00:00,A grand Hanukkah celebration held in the city,33.3,0.0,66.7,45.88
3,2020-01-01 00:00:00,"I respect my competitors, because they bring o...",42.2,0.0,57.8,80.74
4,2020-01-01 00:00:00,Strong New Year resolutions keep young minds m...,51.2,0.0,48.8,74.30
5,2020-01-01 00:00:00,Bhuvann Ponnannaa gets a surprise birthday poo...,49.0,0.0,51.0,58.59
6,2020-01-01 00:00:00,A grand Hanukkah celebration held in the city,33.3,0.0,66.7,45.88
7,2020-01-01 00:00:00,Hiphop Adhi sings a lively kuthu song,36.7,0.0,63.3,44.04
8,2020-01-01 00:00:00,"Music helped me find my purpose in life, says ...",0.0,0.0,100.0,0.00
9,2020-01-01 00:00:00,Bhuvann Ponnannaa gets a surprise birthday poo...,49.0,0.0,51.0,58.59

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50012 entries, 0 to 50011
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      50012 non-null  object
 1   Headline  50012 non-null  object
 2   Positive  50012 non-null  float64
 3   Negative  50012 non-null  float64
 4   Neutral   50012 non-null  float64
 5   Compound  50012 non-null  float64
dtypes: float64(4), object(2)
memory usage: 2.3+ MB

In [11]:
df.describe

<bound method NDFrame.describe of                       Date                                           Headline  \
0      2020-01-01 00:00:00  Shivin Narang injures his hand on the set of h...
1      2020-01-01 00:00:00             Allergy cases on the rise in Bengaluru
2      2020-01-01 00:00:00      A grand Hanukkah celebration held in the city
3      2020-01-01 00:00:00  I respect my competitors, because they bring o...
4      2020-01-01 00:00:00  Strong New Year resolutions keep young minds m...
...                    ...                                                ...
50007  2020-07-19 00:00:00     Chemical analysis confirms cobra venom in body
50008  2020-07-19 00:00:00  Have spent over Rs 400 crore on Covid fight: G...
50009  2020-07-19 00:00:00  After 16-mth wait, work starts on Mukarba Chow...
50010  2020-07-19 00:00:00                     More autonomy sought for banks
50011  2020-07-19 00:00:00          174 new Covid-19 cases surface in Uâ€™khand

       Positive  Negative  Neutral  Compound
0          24.2       0.0     75.8     49.39
1           0.0       0.0    100.0      0.00
2          33.3       0.0     66.7     45.88
3          42.2       0.0     57.8     80.74
4          51.2       0.0     48.8     74.30
...         ...       ...      ...       ...
50007       0.0       0.0    100.0      0.00
50008       0.0      20.6     79.4    -38.18
50009       0.0       0.0    100.0      0.00
50010       0.0       0.0    100.0      0.00
50011       0.0       0.0    100.0      0.00

[50012 rows x 6 columns]>